body {
    font-family: Arial, sans-serif;
}

.profile-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.navbar-nav .nav-link {
    font-size: 16px;
}

.carousel-item img {
    width: 100%;
    height: auto;
}
header {
    background-image: url('../images/h3.png');
}
header h2, header h4 {
    color: #78909c;
}
body {
    background-color: #eeeeee;
}